
/* About us css */

.header-container {
background-color: #0E735D;
margin-top:14px;
padding-bottom: 0px;
    color: #EAEFF2;
    
    
}

h1 {text-align: center;
    font-weight: bold;
    
}

.header1-container {
    height:50px;
    text-align: center;
    background-color: #A1A194;
    
}
.aboutus-para {
    padding-top:10px;
    text-align: center;
    color: #A1A194;
    
}

.header11-container {
    height:50px;
    text-align: center;
    font-size: 28px;
    background-color: #A1A194;
    
}

hr {
    
    background-color: #EAEFF2
    
}
