
/* About us css */

.header-container {height: 50px;}

h1 {text-align: center;}

.header1-container {
    height:50px;
    text-align: center;
    
}
.aboutus-para {
    padding-top:10px;
    text-align: center;
}
