
/* Affiliates Page */

.affiliates {
    height:150px;
    margin-bottom: 25px; !important;
}

.aff-descrip {height:80px;}

.dropdown {padding-top:5px;}

.title-container {
    font-size: 40px;
    text-align: center;
}