

/*Contact Us */

.affiliates {
    height:150px;
    margin-bottom: 25px !important;
    margin-top: 25px !important;
   
}

.border {
    margin-top: 50px;
    display: block;
}

.groupphoto {
    margin-top: 40px;
    height:80px;
}

.title-container {
    font-size: 38px;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    background-color: #f37a3d;
    padding-top:10px;
    padding-bottom:10px;
    width: 100%;
}

.container2 {
    
    padding-left: 0;
    padding-right: 0;
    
}

table {
    display: block;
}

td p {
    margin-left: 40px;
    display: block;
}
.greg p{
    margin-left: 69px;
}