

/*Contact Us */

.affiliates {
    height:150px;
    margin-bottom: 25px !important;
    margin-top: 25px !important;
}

.border {
    margin-top: 50px;
    display: block;
}

.groupphoto {
    margin-top: 40px;
    height:80px;
}

.title-container {
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}

table {
    display: block;
}

td p {
    margin-left: 40px;
    display: block;
}
.greg p{
    margin-left: 69px;
}