body {}

.navbar{
    background-color:#8CC63F;
    margin-bottom: 0 !important;
}

.nav-container{}

.img-container{padding-top:}

.menu-container{ font-size:30px;
color:white;}

.dropdown-toggle:active, .open .dropdown-toggle {
        background:#FFF !important; 
        color:#000 !important;
    }

.dropdown{padding-top:5px;}

.core-container{
    margin-top:-20px;
    width:100%;
    height:300px;
  
}
.pic-container{ background-color:green;
    background-repeat: no-repeat;
    height:100px;   

}
.pic-container1{ background-color:forestgreen;
    background-repeat: no-repeat;
    height:100px;   
}
.pic-container2{ background-color:limegreen;
    background-repeat: no-repeat;
    height:100px;
 
}
.para-container{padding-top:20px;
color:black;
font-style: none;
font-size: 20px;
width:130px;
margin-top:50px;}


.icon{font-size: 30px;
color:white;}

.title-container{
height: 120px;
margin-top:60px;}

.fridge-char{padding-left:100px;
font-size:40px;
color:#8CC63F}
.virtual-char{font-size: 40px;
color:#8CC63F; }

.user-icon{text-align: right;
padding-top:8px}

/* About us css */

.header-container{height: 50px;
}
h1{text-align: center;
}
.header1-container{
    height:50px;
    text-align: center;
    
}
.aboutus-para{padding-top:10px;
}


/* Register CSS */

fieldset{}
form{}
.email{width:50px;
display:inline;
padding-right:57px;}
.username{display: inline;
padding-right:30px}
.password{display: inline;
padding-right:30px;}

legend{font-size:15px !important;}



/* Tips and trick CSS */

.title-container{text-align: center;
font-size:30px;
}

.article-bg{background-color: lawngreen;
height: 80px;
border-bottom: 1px solid green}

.article{text-align: right;
padding-top:5px;
}
#demo{height:auto;}
.collapse.in {
  display: block!important;
}

/* Recipes CSS */

.header-recipe h1{
    padding-top: 0px;
    margin-top:0px;
    text-align: left;
    padding-left: 60px;
    background-color:#8CC63F;
    color: white;
}

