body {}

.navbar{
    background-color:#8CC63F;
    margin-bottom: 0 !important;
}

.nav-container{}

.img-container{}

.menu-container{ font-size:30px;
color:white;}

.dropdown-toggle:active, .open .dropdown-toggle {
        background:#FFF !important; 
        color:#000 !important;
    }

.dropdown{padding-top:5px;}

.core-container{
    width:100%;
    height:300px;
}
.pic-container{ background-color:green;
    background-repeat: no-repeat;
    height:125px;  
     background-image: url(foodwaste.jpg);
    padding: 0px !important;

}
.pic-container1{ background-color:forestgreen;
    background-repeat: no-repeat;
    height:125px;   
    background-image: url(celery1.jpg);
    padding:0px !important;
}
.pic-container2{ 
    background-repeat: no-repeat;
    height:125px;
    background-image: url(smoothie.jpg);
    padding:0px !important;
}

.para-container{padding-top:20px;
color:black;
font-style: none;
font-size: 20px;
margin-top:50px;
padding-left: 0px !important;
padding-right: 0px !important;}

.about {
    
     background-color: white;
    opacity: 0.7;
    font-size: 26px;
    font-weight: bold;
    color: #66cd00;
    height: 50px;
    
}


.contact {
    

    background-color: white;
    opacity: 0.7;
    font-size: 26px;
    font-weight: bold;
    color: #66cd00;
    height: 50px;
    
}

.tips {
    
      background-color: white;
    opacity: 0.7;
    font-size: 26px;
    font-weight: bold;
    color: #66cd00;
    height: 50px;
    

}




.icon{font-size: 30px;
color:white;}

.title-container{
height: 120px;
margin-top:60px;}

.fridge-char{padding-left:100px;
font-size:40px;
color:#8CC63F}
.virtual-char{font-size: 40px;
color:#8CC63F; }

.user-icon{text-align: right;
padding-top:8px}

/* About us css */

.header-container{height: 50px;
}
h1{text-align: center;
}
.header1-container{
    height:50px;
    text-align: center;
    
}
.aboutus-para{
    padding-top:10px;
    text-align: center;
}


/* Register CSS */

fieldset{}
form{}
.email{width:50px;
display:inline;
padding-right:57px;}
.username{display: inline;
padding-right:30px}
.password{display: inline;
padding-right:30px;}

legend{font-size:15px !important;}




/* Recipes Page */

.done {
    
    background-color: limegreen;
    color: whitesmoke;
    font-size: 18px;
    border-radius: 12px;
    border:none;
}

.cancel {
    
    background-color: #f44336;
    color: whitesmoke;
    font-size: 18px;
    border-radius:12px;
    border: none;
        
}


.recipeName {
 
    font-weight: bold;
    
}

hr {
    
    background-color: brown
    
}

.recipe {
    
     background-color: white;
    opacity: 0.7;
    font-size: 26px;
    font-weight: bold;
    color: #66cd00;
    height: 50px;
    
}

.recipe-bg {
    
    background-image: url(Placeholder.png);
    height: 100px;

}


 .ingredients {
    
    border-style: solid;
    border-width: 2px;
    border-color: #66cd00;
    border-radius: 15px;
}

/* Tips and trick CSS */
.title-container{text-align: center;
font-size:30px;
}

.article-bg{background-color: lawngreen;
height: 80px;
border-bottom: 1px solid green}

.article{text-align: right;
padding-top:5px;
}
#demo{height:auto;}
.collapse.in {
  display: block!important;
}

/* Recipes CSS */

.header-recipe h1{
    padding-top: 0px;
    margin-top:0px;
    text-align: left;
    padding-left: 60px;
    background-color:#8CC63F;
    color: white;
}


/* My Fridge */
.my-fridge{font-size: 30px;
padding-left:20px;
    text-align: center;
}
.fridge-header{height:60px;
background-color:springgreen;
}
.content-txt{padding-left:30px;
font-size:30px;}


