/* Tips and trick CSS */

body {
    background-color: #4CBA85 !important;
}

.title-container {
    text-align: center;
    font-size:30px;
    height: 70px !important;
}

.article-bg {
    background-color: seagreen;
    height: 80px;
    border-bottom: 1px solid green;
}

.article {
    text-align: right;
    padding-top:5px;
}

#demo {height:auto;}

.collapse.in {
  display: block!important;
}